.App {
  text-align: center;
  padding: 50px;
}
h1 {
  font-size: 100px;
}

div p {
  font-size: 30px;
}

button {
  background-color: #cee8ff;
  margin: 30px;
  padding: 12px 15px;
  border-radius: 10px;
}
