body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #fff;
}

input[type="text"] {
  padding: 30px;
  width: 60%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
